{
  "shapelink": {
    "apiKey": "YOUR_API_KEY",
    "secret": "YOUR_SECRET"
  },
  "name": "Toughest 2015",
  "exercise": "burpee",
  "goal": 1000,
  "startDate": "2015-01-26",
  "endDate": "2015-05-01"
}