<div id="header" class="jumbotron">
    <h1>Are you ready for Toughest?</h1>
    <p>We challenge you to do <strong>{{goal}}</strong> burpees before the race.</p>
</div>

<div id="register" class="section jumbotron">
    <p>Log in to your Shapelink account to find out how you are doing.</p>

    <form id="register-form">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    <label class="sr-only" for="username">Username</label>
                    <input name="username" type="text" class="form-control" id="username" placeholder="Username" value="">
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password" value="">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Find out!</button>
    </form>
</div>

<div id="result" class="section jumbotron">
    <h1></h1>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="{{goal}}"></div>
    </div>
</div>
