<p>Enter your Shapelink username to find out.</p>

<form id="register-form">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input name="username" type="text" class="form-control" id="username"
                       placeholder="Username">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="sr-only" for="password">Username</label>
                <input name="password" type="password" class="form-control" id="password"
                       placeholder="Password">
            </div>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Find out!</button>
        </div>
    </div>
</form>
