body {
  padding: 50px;
}

.section {
    display: none;
}

.progress {
    margin-top: 50px;
    height: 42px;
    background-color: #2b3e50;
}

.progress-bar {
    min-width: 2em;
    line-height: 42px;
}